<!DOCTYPE html>
        <html>
        <head>
            <meta charset="UTF-8">
            <title>ChatGPT SubTestCase maker</title>
            
            <!-- Font 추가 -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Acme&family=Monomaniac+One&family=Patua+One&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
        </head>
        <body>
            <p data-ke-size="size30" style="text-align:center; font-size:30px;">
            <span style=
                "border-radius: 20px 15px 15px 0;
                padding: 0.5em;
                font-weight: bold;
                font-family: 'Monomaniac One', sans-serif;">ChatGPT SubTestCase maker</span></p>
            
           <div class="parent"
                style="
                text-align:center;
                border-radius: 5em; padding: 0.5em;
                font-size:25px;
                font-family: 'Gamja Flower', cursive;
                font-weight: bold; text-align:center;
                width:700px;
                margin:0 auto; 
                data-ke-size="size16">
            
                <div class="text" style="padding: 0.5em; margin:1em">
                    Text-davinci-3 모델을 사용한 SubTest Case 생성기입니다.<br>
                    박스에 해당하는 내용을 입력 후, 생성하기 버튼을 눌러주세요.</div>
                    
                <form action="/testCase_result">
                    <div align="left">
                        <label for="writer"
                        style="background: linear-gradient(to top, #FAFAD2 50%, transparent 50%);text-align:left;">🙉작성자: </label>
                        <input name="writer" type="text" id="writer" name="writer"
                        style="background:#FAFAD2; border-radius: 0.5em; align:left;
                            padding: 0.5em; margin:1em; width:85px; height:10px"><br>
                            
                        <label for="date"
                        style="background: linear-gradient(to top, #FAFAD2 50%, transparent 50%);text-align:left;">📆날짜: </label>
                        <input name="date" type="text" id="date"
                        style="background:#FAFAD2; border-radius: 0.5em; align:left;
                            padding: 0.5em; margin:1em; width:85px; height:10px"><br>
                        
                        <label for="project"
                        style="background: linear-gradient(to top, #FAFAD2 50%, transparent 50%);align:left;">🏷️프로젝트 개요 :</label>
                        <textarea name="project" type="text" id="project"
                        style="background:#FAFAD2; border-radius: 0.5em; align:left;
                            padding: 0.5em; margin:1em; width:700px; height:50px">✒️프로젝트에 대해 간략히 소개해주세요.</textarea><br>
                        
                        <label for="testTarget"
                        style="background: linear-gradient(to top, #FAFAD2 50%, transparent 50%); align:left;">👉테스트 대상: </label>
                        <textarea name="testTarget" type="text" id="testTarget"
                        style="background:#FAFAD2; border-radius: 0.5em; align:left;
                            padding: 0.5em; margin:1em; width:700px; height:50px">✒️테스트 대상이 무엇인가요?</textarea><br>
                            
                        <label for="testItem"
                        style="background: linear-gradient(to top, #FAFAD2 50%, transparent 50%); align:left;">✔️테스트 항목: </label>
                        <textarea name="testItem" type="text" id="testItem"
                        style="background:#FAFAD2; border-radius: 0.5em; align:left;
                            padding: 0.5em; margin:1em; width:700px; height:50px">✒️테스트 목록을 간략히 작성해주세요.</textarea><br>
                            
                    </div>
                    
                    <div class="summary" style="background:#FFCC33; border-radius: 5em; padding: 0.5em; margin:1em">
                        <input type="submit" value="생성하기" style="background:#FFCC33;
                        font-size:25px; font-family: 'Gamja Flower', cursive; font-weight: bold;
                        border:0 solid black; text-align:center;">
                        
                    </div>
                </form>
            </div>
        </body>
        </html>